.createSubDomain {
    &__title {
        font-weight: 500;
        background-color: #1baa59 !important;
        color: #fff;
    }
    &__btnSend{
        font-weight: 500 !important;
        background-color: #1baa59 !important;
        color: #fff !important;
        &:hover{
            background-color: #17924c !important;
        }
    }
}
