.tabPanelProps {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__settings {
    display: flex;
    justify-content: end;
  }
  &__tabPanel > div {
    padding: 0 5px !important;
  }
//   &__columns > div > table > tbody > tr > td {
//     background-color: red !important;
//   }
}
